

*{ 
	font-family: 'Roboto', sans-serif;
		 font-size: 10px}



body{
	display:grid;
	grid-template-columns: 15% 70% 15%;
	grid-template-rows: 55vh auto;
	grid-template-areas:'hd hd hd'
						'ch ch ch'
}


#backImage{
	 background-image: url("../images/esB.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
	 grid-area: hd;
	 
}
#busqueda{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100%;


}
.generalBusqueda{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100%;

}

.contBusqueda{
	display: flex;
	width: 70%;
	flex-direction: column;
	margin-top: 8%;

}
.form{
	border-radius: 10px;

	background-color: #efefef;

width: 100%;

display: flex;
}
.formBusqueda{
	display:flex;
	justify-content: space-between;
	width: 100%;

}

.opcionesLugares{
	display: inline-flex;
	justify-content: space-between;
		width: 50%;

}

.opcionesVarias{
	display: inline-flex;
	justify-content: space-between;
	width: 50%;
}

.inputLugares{
	background-color: white;
	display: inline-flex;
	flex-direction: column;
	padding: 3%;
	width:49%;
	border-radius: 9px;
	margin-right:0.2%;


}

.inputLugares label{
	font-size: 1.1em;
	color: grey;	
}



input{
	border: 0;
	padding:3% 3% 3% 0%;
	font-size: 1.3em;
	color: grey;
	
}


.opcionesBusqueda{
	display: flex;

	justify-content: space-between;
width: 42%;
align-self: center;
padding-bottom: 2%;


}

.opcionesBusqueda span{
	color: white

}

.inputsearch{
	display: flex;
	width: 8%;
}

.searchButton {
	border:0;
	background-color: #e80010;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-top-right-radius: 9px;

border-bottom-right-radius: 9px;
}

.searchButton img{
	width: 32%;
}

button{
	border:0;
	background-color: transparent;
	color: white;
	font-size:1.3em;
	font-weight: 400;
	cursor: pointer;
}

button:hover{
	font-weight: bolder;

}

#grafico{
	grid-area: ch;
	

	background-color: #efefef;
	

}



.containerGrafico{
	display: flex;
	/*height: 500px !important;*/
	margin-top: 2%;
	margin-bottom: 2%;
	flex-direction: column;
	background-color: #efefef;
	width: 100%;
	align-items: center;

}

.containerIntermedio{
	display: flex;
	width: 70%;
	flex-direction: column;
	
	
}

.chart-container{
	position: relative; height:30vh; width:100%;
	background-color: white;
}
.meses{
	display: flex;
	border-bottom: 1px solid #efefef;
	justify-content: space-between;
	background-color: white;
	height: 8vh;
	


}

.iconoNext{
	width: 1.5%;
	display: flex;
	justify-content: center;
	align-content: center;
	padding-left: 1.5%;
	padding-right: 1.5%;
	height: 8vh;
}

.iconoNext img {
	width: 100%;
}


.opcionesMeses{
display: inline-flex;
	flex-direction: column;
	margin:1% 1% 0 1%;
	width: 15%;

}
.opcionesMeses-selected{
	display: inline-flex;
	flex-direction: column;
	margin:1% 1% 0 1%;
	border-bottom: 1px solid #25a2dc;
	width: 15%;

}
.mes{
	display: flex;
	color:black;
	font-weight: 600;
	flex-direction: column;
	height: auto;
	
}
.mes:hover .minValueMes{
	color: #25a2dc;

}
.mes:hover {
	color: #25a2dc;
	border-bottom: 1px solid #25a2dc;

}



.minValueMes{
	color:#c2c1c1;
		font-weight: 600;
		align-self: center;

}
.mes-Selected{
display: flex;
	flex-direction: column;
	color:#25a2dc;
	font-weight: 600;

}
.minValueMes-Selected{
	color:#25a2dc;
		font-weight: 600;
		align-self: center;


}


@media only screen and (max-width: 767.98px)  { 
	body{
		display: grid;
		gap: 3%;
		grid-template-rows: auto auto;
		grid-template-areas: 'hd' 'ch';
		grid-template-columns: 100%;
	}
	
#backImage{
	background-image: none;
	grid-area: hd;
	
}

#busqueda{
	
	width: 100%;
	


}
.generalBusqueda{

	width: 100%;
	justify-content: center;
	align-items: flex-start;

}

.contBusqueda{
	margin:0;
	width: 95%;
	flex-direction: column;
	margin-top:3%;

	
}

.opcionesBusqueda{
	justify-content: space-between;
	width: 100%;
	align-self: center;
	margin-bottom: 2%;
	background-color:#efefef;
	padding:0;
	border-radius: 9px;
	align-content: center;

}
button{
	color: black;
	font-weight:400;
	font-size: 1.3em;
	padding: 0.1%;	
	

}

.opcionNoSeleccionada{
	width: 32%;
justify-content: center;
display: flex;
padding: 1%;
}

.opcionSeleccionada {
	background-color: #e80010;
	border-radius: 9px;
	width: 32%;
justify-content: center;
display: flex;

}

.opcionSeleccionada button {
	color: white

}
.form{
	border-radius: 10px;

	background-color: white;

width: 100%;


}
.formBusqueda{
	width: 100%;
	flex-direction: column;
	align-items: center;
	align-content: center;

}

.opcionesLugares{
	justify-content: space-between;
	flex-direction: column;
		width: 100%;

}

.opcionesVarias{
	justify-content: space-between;
	flex-direction: column;
		width: 100%;
}

.inputLugares{
	
	flex-direction: column;
	background-color:#efefef;
	width:100%;
	margin-bottom: 2%;
	padding: 3%;
	box-sizing: border-box;

}

.inputLugares input{
	background-color:#efefef;
	width: 100%;
		font-size: 1.6em;
		padding:0;
}



.formBusqueda label{
	font-size: 1.6em;
	
}

.inputsearch{
	display: flex;
	width: 100%;
	justify-content: center;
}

.searchButton {
	border:0;
	background-color: #e80010;
	width: 100%;
	
	cursor: pointer;
	border-radius: 9px;

}

.searchButton img{
	padding: 1.2%;
	width: 6%;
}

.grafico{
	grid-area: ch;
}

.containerIntermedio{
		width: 95%;

}



.containerGrafico{
	
}

.chart-container{
	
	
}


}




@media (min-width: 768px) and (max-width: 991.98px) { 
	body{
		display: grid;
		gap: 3%;
		grid-template-rows: auto auto;
		grid-template-areas: 'hd' 'ch';
		grid-template-columns: 100%;
	}
	
#backImage{
	background-image: none;
	grid-area: hd;
	
}

#busqueda{
	
	width: 100%;
	justify-content: center;


}
.generalBusqueda{
	
	width: 100%;
	justify-content: center;
	align-items: flex-start;

}

.contBusqueda{
	
	width: 95%;
	flex-direction: column;
	margin-top:3%;

	

}

.opcionesBusqueda{
	

	justify-content: space-between;
width: 100%;
align-self: center;
margin-bottom: 2%;
background-color:#efefef;
padding:0;
border-radius: 9px;
align-content: center;

}
button{
	color: black;
	font-weight:400;
	font-size: 1.3em;
	padding: 0.1%;	
	

}

.opcionNoSeleccionada{
	width: 32%;
justify-content: center;
display: flex;
padding: 1%;
}

.opcionSeleccionada {
	background-color: #e80010;
	border-radius: 9px;
	width: 32%;
justify-content: center;
display: flex;

}

.opcionSeleccionada button {
	color: white
}
.form{
	border-radius: 10px;
	background-color: white;
}
.formBusqueda{
	flex-direction: column;
	align-items: center;
	align-content: center;

}

.opcionesLugares{
	display: inline-flex;
	justify-content: space-between;
		width: 100%;

}

.opcionesVarias{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}

.inputLugares{
	flex-direction: column;
	background-color:#efefef;
	width:100%;
	margin-bottom: 2%;
	padding: 3%;
	box-sizing: border-box;
	display: inline-flex;

}

.inputLugares input{
	background-color:#efefef;
	width: 100%;
	font-size: 1.6em;
	padding:0;
}


.formBusqueda label{
	font-size: 1.6em;
	color: grey
}

.inputsearch{

	width: 100%;
	justify-content: center;
}

.searchButton {

	width: 30%;
	border-radius: 9px;
}

.searchButton img{
	padding: 1.2%;
	width: 6%;
}
.containerGrafico{
	width: 100%;
	
}
.grafico{
	grid-area: ch;
}

.containerIntermedio{
	width: 95%;

}

 }


@media (min-width: 991.98px) and (max-width: 1199.98px) { 
body {
		
		grid-template-columns:10% 80% 10%;
		
		grid-template-rows: 45vh 55vh;
		grid-template-areas: 'hd hd hd' 'ch ch ch';
	}
	

.contBusqueda{
	width: 85%;
}


.opcionSeleccionada{
	width: 30%;

}
.opcionNoSeleccionada{
	width: 30%;

}

.inputLugares input{
		width: 100%;
		font-size: 1.3em;
		
}
.inputLugares label{
	width: 100%;
	font-size: 1.3em;
	
}
button{
	font-weight:400;
	font-size: 1.3em;
}
.searchButton {
	
	width: 100%;

}
.grafico{
	grid-area: ch ;
}
.containerIntermedio{
	width: 85%;
}


}
